[tx]
endpoint = "asr.tencentcloudapi.com"
secretId = ""
secretKey = ""

[web]
# web监听的端口号
port = "8080"
url = "http://127.0.0.1"
# 识别结果文件保存路径
filename = "./notify.txt"
# 回调原始结果保存路径
file_row = "./notify_row.txt"